In [3]:
# This script examines the UCI sanctioned racing calendar to look at global changes in the number of events.
# Source is https://www.uci.org/road/calendar, all categories/classes selected
# Year could be extracted from the start date, but UCI 'seasons' differ from calendar years
# for Africa, Asia and Oceania circuits, so when outputting new calendars, add the year as _2XXX before .xlsx
# The script will add the year as a new column.

In [4]:
import pandas as pd
import glob
import os
#Map the UCI Calendar excel output to the Continental circuits using the UCI's country names
continents = {'Americas': ['ANTIGUA AND BARBUDA', 'ARGENTINA', 'ARUBA', 'BELIZE', 'BERMUDA', 
                           'BOLIVARIAN REPUBLIC OF VENEZUELA', 'BOLIVIA', 'BRAZIL', 'CANADA',
                           'CHILE', 'COLOMBIA', 'CUBA', 'DOMINICAN REPUBLIC', 'ECUADOR', 
                           'EL SALVADOR', 'HONDURAS', 'PANAMA', 'PARAGUAY', 'PUERTO RICO', 
                           'SAINT VINCENT AND THE GRENADINES', 'TRINIDAD AND TOBAGO', 
                           'UNITED STATES OF AMERICA', 'URUGUAY','MEXICO', 'COSTA RICA','GUATEMALA'],
              'Africas' : ['ALBANIA', 'ALGERIA', 'ANGOLA', 'CAMEROON', 'CONGO', 'COTE D\'IVOIRE',
                           'EGYPT', 'ETHIOPIA', 'GUYANA', 'LIBYA', 'MALI', 'MAURITIUS', 'MOROCCO',
                           'NAMIBIA', 'RWANDA', 'SENEGAL', 'SOUTH AFRICA', 'SWAZILAND', 'TUNISIA', 
                           'UGANDA', 'ZIMBABWE', 'GABON','ERITREA', 'BURKINA FASO'],
              'Asia' : ['AZERBAIJAN', 'BAHRAIN', 'BRUNEI DARUSSALAM', 'CHINESE TAIPEI', 'GEORGIA',
                        'INDIA', 'ISLAMIC REPUBLIC OF IRAN', 'ISRAEL', 'KAZAKHSTAN', 'KOREA', 'KUWAIT', 
                        'KYRGYZSTAN', 'LEBANON', 'MALAYSIA', 'MONGOLIA', 'MYANMAR', 'OMAN', 'PHILIPPINES',
                        'RUSSIAN FEDERATION', 'SINGAPORE', 'SRI LANKA', 'SYRIAN ARAB REPUBLIC', 'THAILAND',
                        'TURKEY', 'UNITED ARAB EMIRATES', 'VIETNAM','HONG KONG, CHINA','QATAR', 'UZBEKISTAN',
                        'INDONESIA', 'JAPAN','PEOPLE\'S REPUBLIC OF CHINA'],
              'Europe' : ['AUSTRIA', 'BELARUS', 'BELGIUM', 'BOSNIA AND HERZEGOVINA', 'BULGARIA', 'CROATIA',
                          'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'ESTONIA', 'FINLAND', 
                          'FORMER YUGOSLAV REPUBLIC OF MACEDONIA', 'FRANCE', 'GERMANY', 'GREAT BRITAIN', 
                          'GREECE', 'HUNGARY', 'ICELAND', 'IRELAND', 'ITALY', 'KOSOVO', 'LATVIA', 'LITHUANIA',
                          'LUXEMBOURG', 'MONTENEGRO', 'NETHERLANDS', 'NORWAY', 'POLAND', 'PORTUGAL', 
                          'REPUBLIC OF MOLDOVA', 'ROMANIA', 'SAN MARINO', 'SERBIA', 
                          'SLOVAKIA', 'SLOVENIA', 'SWEDEN', 'SWITZERLAND', 'UKRAINE','SPAIN'],
              'Oceania' : ['NEW ZEALAND','AUSTRALIA']}

In [5]:
#Pull in every excel sheet from the current folder that starts with Calendar and ends in xlsx. YMMV!

all_data = pd.DataFrame()
for f in glob.glob('Calendar*.xlsx'):
    df = pd.read_excel(f, header=1, encoding='UTF-8')
    year = os.path.basename(f).split('.')[0].split('_')[-1]
    df['Season'] = year
    all_data = all_data.append(df,ignore_index=True)

In [6]:
#Examine the head and length to make sure it's kosher
# all_data['Class'].unique()
# array(['2.2', 'CRT', '2.HC', '2.1', '1.2', '1.1', 'CN', '2.UWT', '1.UWT',
#        '2.Ncup', '1.HC', 'CC', '1.WWT', '1.Ncup', '1.2U', '2.2U', 'JR',
#        '2.WWT', 'JC', 'CM', 'JOJ', 'CDM', nan, 'JO', 'CPE', 'MNM', 'AU1',
#        '2.CH', '1.CH', 'GT2', 'GT1'], dtype=object)

# I suspect there are some classes have changed over the years. MP is ME, CPE was WT stage races during dispute
# with ASO (2.UWT), MNM = Monument and CPE were WT one-days during disputed years (1.UWT)
all_data['Category'].replace('MP', 'ME')
all_data['Class'].replace('CPE', '2.UWT')
all_data['Class'].replace(['MNM','AU1', '1.CH'], '1.UWT')

all_data['Class'].unique()

array(['2.2', 'CRT', '2.HC', '2.1', '1.2', '1.1', 'CN', '2.UWT', '1.UWT',
       '2.Ncup', '1.HC', 'CC', '1.WWT', '1.Ncup', '1.2U', '2.2U', 'JR',
       '2.WWT', 'JC', 'CM', 'JOJ', 'CDM', nan, 'JO', 'CPE', 'MNM', 'AU1',
       '2.CH', '1.CH', 'GT2', 'GT1'], dtype=object)

In [7]:
#Get rid of unwanted columns.
del all_data['EMail']
del all_data['WebSite']
del all_data['Calendar']
del all_data['Venue']
all_data.head()

,Date From,Date To,Name,Country,Category,Class,Season
0,24/10/2017,29/10/2017,Vuelta a Colombia Femenina Oro y Paz,COLOMBIA,WE,2.2,2018
1,23/10/2017,01/11/2017,Vuelta a Guatemala,GUATEMALA,ME,2.2,2018
2,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,ME,CRT,2018
3,04/11/2017,04/11/2017,Le Tour De France Saitama Criterium,JAPAN,ME,CRT,2018
4,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,WE,CRT,2018

In [8]:
for x in ['CC', 'CM', 'CN']:
    row = (all_data.loc[all_data['Class'] == x]).sort_values(by='Season', ascending=0).iloc[0]
label = row.name
base_df = all_data.drop(label)
base_df.head()

,Date From,Date To,Name,Country,Category,Class,Season
0,24/10/2017,29/10/2017,Vuelta a Colombia Femenina Oro y Paz,COLOMBIA,WE,2.2,2018
1,23/10/2017,01/11/2017,Vuelta a Guatemala,GUATEMALA,ME,2.2,2018
2,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,ME,CRT,2018
3,04/11/2017,04/11/2017,Le Tour De France Saitama Criterium,JAPAN,ME,CRT,2018
4,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,WE,CRT,2018

In [9]:
#You can extract the year from the start date, but UCI 'seasons' differ from calendar years
# for Africa, Asia and Oceania circuits, so when outputting new calendars, add the year as _2XXX before .xlsx
# If you want you can just export the combined data

# all_data['Year'] = pd.DatetimeIndex(all_data['Date From']).year

# writer = pd.ExcelWriter('combined.xlsx')
# all_data.to_excel(writer,'Sheet1')

# writer.save()

In [10]:
#We need to make the dictionary of lists one big dictionary to add the Continents

cont_dict_converted = {k: oldk for oldk, oldv in continents.items() for k in oldv}

#Note there are some events that cross borders or Continental championships that have no Continent.
#Add some code here to handle these cases.

base_df['Continent'] = base_df['Country'].map(cont_dict_converted).fillna('Stateless')

In [19]:
#Let's get rid of the national, continental championships and Olympics to remove null categories
cats = ['ME', 'WE']
base_df.Category.isin(cats)
base_df_cats = base_df[base_df.Category.isin(cats)]
len(base_df_cats)

7371

In [23]:
#add in the coordinates for each race so we can geolocate them on a map later

uci_country_coord = pd.DataFrame()
uci_country_coord = pd.read_excel('uci_country_coord.xlsx', encoding='UTF-8')
uci_df = pd.merge(base_df_cats, uci_country_coord, right_on='uci_name', left_on='Country', how="left")

df_nulls = uci_df[uci_df.isnull().any(axis=1)]
loc_nulls = df_nulls.groupby('Country')
loc_nulls.head()

,Date From,Date To,Name,Country,Category,Class,Season,Continent,uci_name,continent,name,country,latitude,longitude
1,23/10/2017,01/11/2017,Vuelta a Guatemala,GUATEMALA,ME,2.2,2018,Americas,NaN,NaN,NaN,NaN,NaN,NaN
2,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,ME,CRT,2018,Oceania,NaN,NaN,NaN,NaN,NaN,NaN
3,04/11/2017,04/11/2017,Le Tour De France Saitama Criterium,JAPAN,ME,CRT,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
4,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,WE,CRT,2018,Oceania,NaN,NaN,NaN,NaN,NaN,NaN
5,27/10/2017,05/11/2017,Tour du Faso,BURKINA FASO,ME,2.2,2018,Africas,NaN,NaN,NaN,NaN,NaN,NaN
9,12/11/2017,12/11/2017,Tour de Okinawa,JAPAN,ME,1.2,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
10,12/11/2017,12/11/2017,Stan Siejka Launceston Cycling Classic,AUSTRALIA,WE,CRT,2018,Oceania,NaN,NaN,NaN,NaN,NaN,NaN
11,12/11/2017,12/11/2017,Stan Siejka Launceston Cycling Classic,AUSTRALIA,ME,CRT,2018,Oceania,NaN,NaN,NaN,NaN,NaN,NaN
14,18/11/2017,26/11/2017,Tour de Singkarak,INDONESIA,ME,2.2,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
16,17/12/2017,17/12/2017,Shimano Supercrit,AUSTRALIA,WE,CRT,2018,Oceania,NaN,NaN,NaN,NaN,NaN,NaN
22,15/01/2018,21/01/2018,La Tropicale Amissa Bongo,GABON,ME,2.1,2018,Africas,NaN,NaN,NaN,NaN,NaN,NaN
24,17/01/2018,21/01/2018,New Zealand Cycle Classic,NEW ZEALAND,ME,2.2,2018,Oceania,NaN,NaN,NaN,NaN,NaN,NaN
25,25/01/2018,25/01/2018,"Trofeo Campos, Porreres, Felanitx, Ses Salines",SPAIN,ME,1.1,2018,Europe,NaN,NaN,NaN,NaN,NaN,NaN
28,26/01/2018,26/01/2018,Trofeo de Tramuntana: Soller - Deia,SPAIN,ME,1.1,2018,Europe,NaN,NaN,NaN,NaN,NaN,NaN
30,27/01/2018,27/01/2018,Gravel and Tar,NEW ZEALAND,ME,1.2,2018,Oceania,NaN,NaN,NaN,NaN,NaN,NaN
31,27/01/2018,27/01/2018,Trofeo Lloseta - Andratx,SPAIN,ME,1.1,2018,Europe,NaN,NaN,NaN,NaN,NaN,NaN
34,25/01/2018,28/01/2018,Tour de Indonesia,INDONESIA,ME,2.1,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
35,28/01/2018,28/01/2018,Trofeo Palma,SPAIN,ME,1.1,2018,Europe,NaN,NaN,NaN,NaN,NaN,NaN
40,31/01/2018,04/02/2018,Volta a la Comunitat Valenciana,SPAIN,ME,2.1,2018,Europe,NaN,NaN,NaN,NaN,NaN,NaN
88,11/03/2018,11/03/2018,Meiji-Jingu Outer Garden University Criterium,JAPAN,ME,CRT,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
110,23/03/2018,25/03/2018,Tour de Tochigi,JAPAN,ME,2.2,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
147,13/04/2018,15/04/2018,Tour de Lombok Mandalika,INDONESIA,ME,2.2,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
226,20/05/2018,20/05/2018,8th International Criterium in Sakai,JAPAN,ME,CRT,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
377,02/08/2018,05/08/2018,Vuelta femenina a Guatemala,GUATEMALA,WE,2.2,2018,Americas,NaN,NaN,NaN,NaN,NaN,NaN
415,13/08/2018,19/08/2018,Binck Bank Tour,STATELESS,ME,2.UWT,2018,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
473,09/09/2018,15/09/2018,Tour de Côte d'Ivoire-Tour de la Réconciliation,COTE D'IVOIRE,ME,2.2,2018,Africas,NaN,NaN,NaN,NaN,NaN,NaN
487,18/09/2018,21/09/2018,Tour de Siak,INDONESIA,ME,2.2,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
499,26/09/2018,29/09/2018,International Tour de Banyuwani Ijen,INDONESIA,ME,2.2,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
526,14/10/2018,14/10/2018,Hammer Hong Kong,"HONG KONG, CHINA",ME,1.1,2018,Asia,NaN,NaN,NaN,NaN,NaN,NaN
535,20/10/2013,20/10/2013,La Clasica Office Max 2013,MEXICO,ME,CRT,2014,Americas,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,23/10/2018,01/11/2018,58 Vuelta a Guatemala,GUATEMALA,ME,2.2,2019,Americas,NaN,NaN,NaN,NaN,NaN,NaN
1664,26/10/2018,04/11/2018,Tour du Faso,BURKINA FASO,ME,2.2,2019,Africas,NaN,NaN,NaN,NaN,NaN,NaN
1675,24/11/2018,24/11/2018,Africa Cup - Criterium,ERITREA,ME,CRT,2019,Africas,NaN,NaN,NaN,NaN,NaN,NaN
1676,24/11/2018,24/11/2018,Africa Cup - Criterium,ERITREA,WE,CRT,2019,Africas,NaN,NaN,NaN,NaN,NaN,NaN
1677,21/11/2018,25/11/2018,Africa Cup,ERITREA,ME,NaN,2019,Africas,NaN,NaN,NaN,NaN,NaN,NaN
1678,21/11/2018,25/11/2018,Africa Cup,ERITREA,WE,NaN,2019,Africas,NaN,NaN,NaN,NaN,NaN,NaN
1679,09/12/2018,09/12/2018,Tour of Belt and Road,"HONG KONG, CHINA",ME,CRT,2019,Asia,NaN,NaN,NaN,NaN,NaN,NaN
1690,21/01/2019,27/01/2019,La Tropicale Amissa Bongo,GABON,ME,2.1,2019,Africas,NaN,NaN,NaN,NaN,NaN,NaN
2005,12/08/2019,18/08/2019,Binck Bank Tour,STATELESS,ME,2.UWT,2019,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
2097,12/10/2019,13/10/2019,Hammer Hong Kong,"HONG KONG, CHINA",ME,2.1,2019,Asia,NaN,NaN,NaN,NaN,NaN,NaN
2112,21/10/2011,30/10/2011,Tour du Faso,BURKINA FASO,ME,2.2,2012,Africas,NaN,NaN,NaN,NaN,NaN,NaN
2114,09/11/2011,09/11/2011,Champ. Continentaux d'Afrique CLM par équipe/A...,ERITREA,ME,CC,2012,Africas,NaN,NaN,NaN,NaN,NaN,NaN
2229,23/03/2012,04/04/2012,Tour de Pakistan,PAKISTAN,ME,2.2,2012,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
2277,24/04/2012,29/04/2012,La Tropicale Amissa Bongo (Tabo),GABON,ME,2.1,2012,Africas,NaN,NaN,NaN,NaN,NaN,NaN
2636,23/12/2007,30/12/2007,Tour of South China Sea,"HONG KONG, CHINA",ME,2.2,2008,Asia,NaN,NaN,NaN,NaN,NaN,NaN
2709,07/03/2008,11/03/2008,Tour ivoirien de la Paix,COTE D'IVOIRE,ME,2.1,2008,Africas,NaN,NaN,NaN,NaN,NaN,NaN
2803,27/04/2008,27/04/2008,Championnat National de Jamaïque - WE,JAMAICA,WE,CN,2008,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
2932,18/06/2008,18/06/2008,Championnat National de l'Ouzbekistan - c.l.m....,UZBEKISTAN,ME,CN,2008,Asia,NaN,NaN,NaN,NaN,NaN,NaN
2933,19/06/2008,19/06/2008,Championnat National de l'Ouzbekistan - en lig...,UZBEKISTAN,ME,CN,2008,Asia,NaN,NaN,NaN,NaN,NaN,NaN
3024,28/06/2008,29/06/2008,Championnat National du Lesotho - ME,LESOTHO,ME,CN,2008,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
3053,29/06/2008,29/06/2008,Championnat National de Guinée,GUINEA,ME,CN,2008,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
4729,23/03/2006,26/03/2006,The Paths of King Nikola,NaN,ME,2.2,2006,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
4913,13/06/2006,18/06/2006,Tour de Serbie,NaN,ME,2.2,2006,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
4947,23/06/2006,23/06/2006,Championnat National de l'Ouzbekistan - c.l.m....,UZBEKISTAN,ME,CN,2006,Asia,NaN,NaN,NaN,NaN,NaN,NaN
4986,24/06/2006,25/06/2006,Championnat National de Côte d'Ivoire- c.l.m. ...,COTE D'IVOIRE,ME,CN,2006,Africas,NaN,NaN,NaN,NaN,NaN,NaN
4987,24/06/2006,25/06/2006,Championnat National de Côte d'Ivoire- en lign...,COTE D'IVOIRE,ME,CN,2006,Africas,NaN,NaN,NaN,NaN,NaN,NaN
5019,25/06/2006,25/06/2006,Championnat National de l'Ouzbekistan - en lig...,UZBEKISTAN,ME,CN,2006,Asia,NaN,NaN,NaN,NaN,NaN,NaN
5528,22/06/2007,22/06/2007,Championnat National de l'Ouzbekistan - c.l.m....,UZBEKISTAN,ME,CN,2007,Asia,NaN,NaN,NaN,NaN,NaN,NaN
6788,19/09/2016,25/09/2016,Eneco Tour,STATELESS,ME,2.UWT,2016,Stateless,NaN,NaN,NaN,NaN,NaN,NaN
7243,07/08/2017,13/08/2017,Binck Bank Tour,STATELESS,ME,2.UWT,2017,Stateless,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
#Look at the numbers of races per continent
grouped_df = base_df_cats.groupby(['Season','Category', 'Class'])
grouped_df.count()

                       Date From  Date To  Name  Country  Continent
Season Category Class
2006   ME       1.1           98       98    98       98         98
                1.2           89       89    89       89         89
                1.HC          16       16    16       16         16
                2.1           43       43    43       43         43
                2.2           86       86    86       84         86
                2.HC          16       16    16       16         16
                CC             6        6     6        6          6
                CM             2        2     2        2          2
                CN           107      107   107      107        107
                JR             4        4     4        4          4
       WE       1.1            6        6     6        6          6
                1.2           13       13    13       13         13
                2.1           10       10    10       10         10
                2.2           14       14    14       14         14
                CC             7        7     7        7          7
                CDM           12       12    12       12         12
                CM             2        2     2        2          2
                CN            76       76    76       76         76
                JR             4        4     4        4          4
2007   ME       1.1           96       96    96       96         96
                1.2           93       93    93       93         93
                1.HC          17       17    17       17         17
                2.1           44       44    44       44         44
                2.2           96       96    96       96         96
                2.HC          16       16    16       16         16
                CC             8        8     8        8          8
                CM             4        4     4        4          4
                CN           101      101   101      101        101
       WE       1.1            8        8     8        8          8
                1.2           16       16    16       16         16
...                          ...      ...   ...      ...        ...
2018   ME       2.1           47       47    47       47         47
                2.2           78       78    78       78         78
                2.HC          21       21    21       21         21
                2.UWT         17       17    17       17         17
                CN             1        1     1        1          1
                CRT           64       64    64       64         64
       WE       1.1           21       21    21       21         21
                1.2           19       19    19       19         19
                1.WWT         16       16    16       16         16
                2.1            9        9     9        9          9
                2.2           14       14    14       14         14
                2.WWT          8        8     8        8          8
                CN             1        1     1        1          1
                CRT           25       25    25       25         25
2019   ME       1.1           69       69    69       69         69
                1.2           73       73    73       73         73
                1.HC          23       23    23       23         23
                1.UWT         21       21    21       21         21
                2.1           48       48    48       48         48
                2.2           64       64    64       64         64
                2.HC          21       21    21       21         21
                2.UWT         17       17    17       17         17
                CRT            6        6     6        6          6
       WE       1.1           23       23    23       23         23
                1.2           30       30    30       30         30
                1.WWT         16       16    16       16         16
                2.1           11       11    11       11         11
                2.2           12       12    12       12         12
                2.WWT          7        7     7        7          7
                CRT            2        2     2        2          2

[249 rows x 5 columns]