In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import glob
import os
import time
from datetime import timedelta
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
#Pull in every excel sheet from the current folder that starts with Calendar and ends in xlsx. YMMV!

all_data = pd.DataFrame()
for f in glob.glob('./data/*Ranking*.xlsx'):
    df = pd.read_excel(f, header=0, encoding='UTF-8')
    disc = os.path.basename(f).split('.')[0].split('_')[0]
    cat = os.path.basename(f).split('.')[0].split('_')[2]
    year = os.path.basename(f).split('.')[0].split('_')[-1]
    if disc == 'CX':
        
        df['Year'] = int(year) - 1
    else:
        df['Year'] = int(year)
    df['Discipline'] = disc
    df['Category'] = cat
    all_data = all_data.append(df,ignore_index=True)
    
all_data.head()

,Rank,UCI ID,Name,Nationality,Team Code,Age,Points,Year,Discipline,Category
0,1,10003293940,CANT Sanne,BELGIUM,NaN,25.0,2040.0,2014,CX,WE
1,2,10005326492,NASH Katerina,CZECH REPUBLIC,NaN,38.0,1520.0,2014,CX,WE
2,3,10007053496,VAN LOY Ellen,BELGIUM,NaN,35.0,1415.0,2014,CX,WE
3,4,10003284947,WYMAN Helen,GREAT BRITAIN,NaN,34.0,1334.0,2014,CX,WE
4,5,10002288473,COMPTON Katherine,UNITED STATES OF AMERICA,NaN,37.0,1308.0,2014,CX,WE

In [13]:
# Ranked riders
road = all_data.where(all_data.Discipline == 'Road')
counts = road.groupby(['Discipline','Category','Year'])['Age'].count().unstack(['Discipline','Category'])
counts

Discipline  Road
Category      ME    WE
Year
2010.0       278   362
2011.0       230   404
2012.0       248   456
2013.0       228   457
2014.0       236   602
2015.0      2717   674
2016.0      2889   668
2017.0      3025   689
2018.0      3275   851
2019.0      3316  1045

In [14]:
# Unique nationalities across road cycling
nations = road.groupby(['Discipline','Category','Year'])['Nationality'].nunique().unstack(['Discipline','Category'])
nations

Discipline Road
Category     ME  WE
Year
2010.0       34  58
2011.0       35  65
2012.0       35  67
2013.0       35  65
2014.0       34  75
2015.0      105  86
2016.0      105  83
2017.0      115  80
2018.0      109  82
2019.0      115  91

In [39]:
top100 = road.where(all_data.Rank < 101)
top100s = top100.groupby(['Discipline','Category','Year'])['Nationality'].nunique().unstack(['Discipline','Category'])
top100s

Discipline Road
Category     ME  WE
Year
2010.0       26  23
2011.0       23  26
2012.0       26  30
2013.0       23  26
2014.0       27  29
2015.0       26  29
2016.0       22  33
2017.0       24  30
2018.0       26  26
2019.0       26  39

In [35]:
most_riders = top100.groupby(['Year','Category','Nationality'])['Name'].count()
most_riders.to_csv('./data/most_riders_nations.csv')

In [4]:
avg_all = all_data.groupby(['Discipline','Category','Year'])['Age'].mean().unstack('Discipline')
avg_all.unstack('Category')

Discipline         CX                   MTB                  Road
Category           ME         WE         ME         WE         ME         WE
Year
2010        26.659656  29.030822  28.244300  27.627968  28.323741  26.939227
2011        26.567050  28.760000  29.126645  27.156442  28.326087  27.012376
2012        26.469811  28.604502  26.317218  27.307578  28.987903  26.679825
2013        26.895131  28.439169  26.261246  27.182764  28.552632  26.575492
2014        26.554386  27.313131  26.646120  27.892677  28.542373  26.410299
2015        26.434783  26.864979  26.475149  28.394105  26.263894  26.777448
2016        26.529126  26.656184  26.374375  28.207568  26.345448  27.113772
2017        26.514003  27.097458  26.540279  28.498458  26.276694  26.625544
2018        26.235593  26.975460  26.408931  28.561538  25.942595  26.304348
2019        26.595161  26.895038  26.431330  28.402439  25.870326  26.484211

In [5]:
top10 = all_data.where(all_data.Rank < 11)
top10s = top10.groupby(['Discipline','Category','Year'])['Age'].mean().unstack(['Discipline','Category'])
top10s

Discipline    CX         MTB        Road
Category      ME    WE    ME    WE    ME    WE
Year
2010.0      27.9  29.5  31.4  29.4  28.2  28.4
2011.0      28.1  28.9  30.7  28.4  30.0  29.8
2012.0      30.5  29.1  28.3  31.6  29.8  31.4
2013.0      27.7  29.7  28.7  28.7  28.4  26.9
2014.0      26.0  30.6  29.4  32.2  30.3  27.8
2015.0      27.0  30.8  30.8  30.6  29.2  27.9
2016.0      26.3  31.0  28.7  30.9  29.2  27.6
2017.0      24.9  33.2  29.6  31.5  30.7  28.4
2018.0      26.4  28.7  27.8  27.4  29.5  29.8
2019.0      26.9  28.1  28.2  28.3  30.2  29.0

In [6]:
nat_all = all_data.groupby(['Discipline','Category','Year'])['Nationality'].nunique()

In [7]:
nat_all = nat_all.unstack(['Discipline','Category'])

In [8]:
nat_all

Discipline  CX     MTB     Road
Category    ME  WE  ME  WE   ME  WE
Year
2010        25  29  38  54   34  58
2011        27  25  39  61   35  65
2012        29  23  73  61   35  67
2013        28  27  79  66   35  65
2014        27  27  80  70   34  75
2015        32  30  88  75  105  86
2016        32  29  90  77  105  83
2017        28  28  87  77  115  80
2018        30  31  90  80  109  82
2019        30  32  93  85  115  91

In [9]:
nat_10 = top10.groupby(['Discipline','Category','Year'])['Nationality'].nunique().unstack(['Discipline','Category'])

In [10]:
nat_10

Discipline CX    MTB    Road
Category   ME WE  ME WE   ME WE
Year
2010.0      5  7   6  7    8  6
2011.0      4  6   6  9    8  6
2012.0      4  7   7  9    7  5
2013.0      4  7   7  7    9  5
2014.0      4  6   7  8    9  8
2015.0      4  7   6  9    8  8
2016.0      4  6   4  8    8  7
2017.0      2  6   8  9    9  7
2018.0      3  4   6  8    7  6
2019.0      3  4   7  8   10  6

In [95]:
all_data.to_csv('./data/all_rankings_2010_2019.csv')

In [97]:
all_data.columns

Index(['Rank', 'UCI ID', 'Name', 'Nationality', 'Team Code', 'Age', 'Points',
       'Year', 'Discipline', 'Category'],
      dtype='object')

In [51]:
road = all_data.loc[all_data.Discipline=='Road']

In [100]:
roadm = road.where(road.Category=='ME')

In [102]:
len(roadm['Nationality'].unique())

139

In [40]:
nat_count = top100.groupby(['Discipline','Category','Year'])['Nationality'].apply(lambda x: x.value_counts().head(10))

In [45]:
nat_count.unstack('Year')

Year                                          2010.0  2011.0  2012.0  2013.0  \
Discipline Category
Road       ME       AUSTRALIA                    7.0     5.0     7.0     5.0
                    BELGIUM                      8.0    12.0    10.0     9.0
                    COLOMBIA                     NaN     NaN     NaN     4.0
                    CZECH REPUBLIC               NaN     NaN     NaN     NaN
                    DENMARK                      NaN     NaN     NaN     NaN
                    FRANCE                       7.0     4.0     6.0    10.0
                    GERMANY                      4.0     5.0     4.0     5.0
                    GREAT BRITAIN                NaN     7.0     4.0     5.0
                    IRELAND                      NaN     NaN     NaN     NaN
                    ITALY                       13.0    14.0    17.0    15.0
                    NETHERLANDS                  4.0    10.0     7.0     8.0
                    NORWAY                       NaN     NaN     2.0     NaN
                    POLAND                       NaN     NaN     NaN     NaN
                    SLOVENIA                     3.0     NaN     NaN     NaN
                    SPAIN                       17.0    12.0    15.0    13.0
                    SWITZERLAND                  3.0     4.0     NaN     NaN
                    UNITED STATES OF AMERICA     7.0     6.0     4.0     5.0
           WE       AUSTRALIA                    9.0    10.0    10.0     8.0
                    BELGIUM                      NaN     5.0     5.0     5.0
                    CANADA                       NaN     7.0     3.0     NaN
                    DENMARK                      NaN     NaN     NaN     NaN
                    FRANCE                       NaN     4.0     5.0     5.0
                    GERMANY                      9.0     7.0     8.0     4.0
                    GREAT BRITAIN                5.0     NaN     4.0     4.0
                    ITALY                       10.0     8.0    13.0    13.0
                    LITHUANIA                    6.0     NaN     NaN     NaN
                    NETHERLANDS                 16.0    14.0    13.0    15.0
                    NEW ZEALAND                  4.0     NaN     NaN     3.0
                    NORWAY                       NaN     NaN     NaN     NaN
                    POLAND                       NaN     NaN     NaN     NaN
                    RUSSIAN FEDERATION           7.0     9.0     3.0     8.0
                    SOUTH AFRICA                 NaN     NaN     NaN     NaN
                    SPAIN                        NaN     NaN     NaN     NaN
                    SWEDEN                       4.0     4.0     NaN     NaN
                    UNITED STATES OF AMERICA     7.0     9.0    10.0     8.0

Year                                          2014.0  2015.0  2016.0  2017.0  \
Discipline Category
Road       ME       AUSTRALIA                    6.0     4.0     5.0     6.0
                    BELGIUM                      8.0    18.0    14.0    14.0
                    COLOMBIA                     5.0     4.0     8.0     7.0
                    CZECH REPUBLIC               NaN     3.0     NaN     NaN
                    DENMARK                      NaN     NaN     3.0     NaN
                    FRANCE                      13.0     7.0    12.0    13.0
                    GERMANY                      5.0     NaN     NaN     3.0
                    GREAT BRITAIN                5.0     5.0     6.0     4.0
                    IRELAND                      NaN     NaN     NaN     3.0
                    ITALY                       10.0    16.0    14.0    15.0
                    NETHERLANDS                  9.0     9.0     7.0     8.0
                    NORWAY                       NaN     NaN     NaN     NaN
                    POLAND                       NaN     3.0     NaN     NaN
                    SLOVENIA                     NaN     NaN     NaN     NaN
                    SPAIN                       11.0     9.0     8.0     7.0
                    SWITZERLAND                  3.0     NaN     3.0     NaN
                    UNITED STATES OF AMERICA     NaN     NaN     NaN     NaN
           WE       AUSTRALIA                    6.0     9.0    10.0    10.0
                    BELGIUM                      7.0     4.0     3.0     3.0
                    CANADA                       5.0     4.0     5.0     4.0
                    DENMARK                      NaN     NaN     NaN     4.0
                    FRANCE                       7.0     7.0     4.0     4.0
                    GERMANY                      5.0     3.0     4.0     5.0
                    GREAT BRITAIN                NaN     NaN     NaN     5.0
                    ITALY                       10.0    10.0    10.0    11.0
                    LITHUANIA                    NaN     NaN     NaN     NaN
                    NETHERLANDS                 14.0    15.0    14.0    18.0
                    NEW ZEALAND                  NaN     NaN     NaN     NaN
                    NORWAY                       NaN     NaN     NaN     NaN
                    POLAND                       4.0     NaN     4.0     NaN
                    RUSSIAN FEDERATION           6.0     4.0     NaN     NaN
                    SOUTH AFRICA                 NaN     4.0     NaN     NaN
                    SPAIN                        NaN     NaN     NaN     NaN
                    SWEDEN                       NaN     NaN     3.0     NaN
                    UNITED STATES OF AMERICA     9.0    13.0    12.0    10.0

Year                                          2018.0  2019.0
Discipline Category
Road       ME       AUSTRALIA                    5.0     7.0
                    BELGIUM                     14.0    15.0
                    COLOMBIA                     6.0     5.0
                    CZECH REPUBLIC               NaN     NaN
                    DENMARK                      4.0     4.0
                    FRANCE                       9.0    13.0
                    GERMANY                      5.0     5.0
                    GREAT BRITAIN                4.0     NaN
                    IRELAND                      NaN     NaN
                    ITALY                       13.0    11.0
                    NETHERLANDS                 10.0     8.0
                    NORWAY                       NaN     NaN
                    POLAND                       NaN     NaN
                    SLOVENIA                     NaN     3.0
                    SPAIN                        8.0     6.0
                    SWITZERLAND                  NaN     NaN
                    UNITED STATES OF AMERICA     NaN     NaN
           WE       AUSTRALIA                    9.0     7.0
                    BELGIUM                      6.0     3.0
                    CANADA                       4.0     NaN
                    DENMARK                      4.0     NaN
                    FRANCE                       6.0     4.0
                    GERMANY                      5.0     6.0
                    GREAT BRITAIN                NaN     4.0
                    ITALY                       13.0    12.0
                    LITHUANIA                    NaN     NaN
                    NETHERLANDS                 20.0    12.0
                    NEW ZEALAND                  NaN     NaN
                    NORWAY                       NaN     3.0
                    POLAND                       NaN     NaN
                    RUSSIAN FEDERATION           NaN     NaN
                    SOUTH AFRICA                 NaN     NaN
                    SPAIN                        4.0     5.0
                    SWEDEN                       NaN     NaN
                    UNITED STATES OF AMERICA     8.0     9.0

In [ ]:
nat_count.to_csv('./data/top10nationsranking.csv')