In [185]:
# This script examines the UCI sanctioned racing calendar to look at global changes in the number of events.
# Source is https://www.uci.org/road/calendar, all categories/classes selected
# Year could be extracted from the start date, but UCI 'seasons' differ from calendar years
# for Africa, Asia and Oceania circuits, so when outputting new calendars, add the year as _2XXX before .xlsx
# The script will add the year as a new column.
%matplotlib inline

In [186]:
import pandas as pd
import glob
import os
import time
from datetime import timedelta
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
#Map the UCI Calendar excel output to the Continental circuits using the UCI's country names
continents = {'Americas': ['ANTIGUA AND BARBUDA', 'ARGENTINA', 'ARUBA', 'BELIZE', 'BERMUDA', 
                           'BOLIVARIAN REPUBLIC OF VENEZUELA', 'BOLIVIA', 'BRAZIL', 'CANADA',
                           'CHILE', 'COLOMBIA', 'CUBA', 'DOMINICAN REPUBLIC', 'ECUADOR', 
                           'EL SALVADOR', 'HONDURAS', 'PANAMA', 'PARAGUAY', 'PUERTO RICO', 
                           'SAINT VINCENT AND THE GRENADINES', 'TRINIDAD AND TOBAGO', 
                           'UNITED STATES OF AMERICA', 'URUGUAY','MEXICO', 'COSTA RICA','GUATEMALA'],
              'Africas' : ['ALBANIA', 'ALGERIA', 'ANGOLA', 'CAMEROON', 'CONGO', 'COTE D\'IVOIRE',
                           'EGYPT', 'ETHIOPIA', 'GUYANA', 'LIBYA', 'MALI', 'MAURITIUS', 'MOROCCO',
                           'NAMIBIA', 'RWANDA', 'SENEGAL', 'SOUTH AFRICA', 'SWAZILAND', 'TUNISIA', 
                           'UGANDA', 'ZIMBABWE', 'GABON','ERITREA', 'BURKINA FASO'],
              'Asia' : ['AZERBAIJAN', 'BAHRAIN', 'BRUNEI DARUSSALAM', 'CHINESE TAIPEI', 'GEORGIA',
                        'INDIA', 'ISLAMIC REPUBLIC OF IRAN', 'ISRAEL', 'KAZAKHSTAN', 'KOREA', 'KUWAIT', 
                        'KYRGYZSTAN', 'LEBANON', 'MALAYSIA', 'MONGOLIA', 'MYANMAR', 'OMAN','PAKISTAN', 'PHILIPPINES',
                        'RUSSIAN FEDERATION', 'SINGAPORE', 'SRI LANKA', 'SYRIAN ARAB REPUBLIC', 'THAILAND',
                        'TURKEY', 'UNITED ARAB EMIRATES', 'VIETNAM','HONG KONG, CHINA','QATAR', 'UZBEKISTAN',
                        'INDONESIA', 'JAPAN','PEOPLE\'S REPUBLIC OF CHINA'],
              'Europe' : ['AUSTRIA', 'BELARUS', 'BELGIUM', 'BOSNIA AND HERZEGOVINA', 'BULGARIA', 'CROATIA',
                          'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'ESTONIA', 'FINLAND', 
                          'FORMER YUGOSLAV REPUBLIC OF MACEDONIA', 'FRANCE', 'GERMANY', 'GREAT BRITAIN', 
                          'GREECE', 'HUNGARY', 'ICELAND', 'IRELAND', 'ITALY', 'KOSOVO', 'LATVIA', 'LITHUANIA',
                          'LUXEMBOURG', 'MONTENEGRO', 'NETHERLANDS', 'NORWAY', 'POLAND', 'PORTUGAL', 
                          'REPUBLIC OF MOLDOVA', 'ROMANIA', 'SAN MARINO', 'SERBIA', 
                          'SLOVAKIA', 'SLOVENIA', 'SWEDEN', 'SWITZERLAND', 'UKRAINE','SPAIN'],
              'Oceania' : ['NEW ZEALAND','AUSTRALIA']}

In [187]:
#Pull in every excel sheet from the current folder that starts with Calendar and ends in xlsx. YMMV!

all_data = pd.DataFrame()
for f in glob.glob('./data/Calendar*.xlsx'):
    df = pd.read_excel(f, header=1, encoding='UTF-8')
    year = os.path.basename(f).split('.')[0].split('_')[-1]
    df['Season'] = year
    all_data = all_data.append(df,ignore_index=True)
    
len(all_data)

9438

In [188]:
#Get rid of unwanted columns.
all_data = all_data.drop(columns=['EMail', 'WebSite', 'Calendar','Venue'])
all_data.head()

,Date From,Date To,Name,Country,Category,Class,Season
0,24/10/2017,29/10/2017,Vuelta a Colombia Femenina Oro y Paz,COLOMBIA,WE,2.2,2018
1,23/10/2017,01/11/2017,Vuelta a Guatemala,GUATEMALA,ME,2.2,2018
2,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,ME,CRT,2018
3,04/11/2017,04/11/2017,Le Tour De France Saitama Criterium,JAPAN,ME,CRT,2018
4,04/11/2017,04/11/2017,Subaru Australian Open Criterium,AUSTRALIA,WE,CRT,2018

In [189]:
#Examine the head and length to make sure it's kosher
# all_data['Class'].unique()
# array(['2.2', 'CRT', '2.HC', '2.1', '1.2', '1.1', 'CN', '2.UWT', '1.UWT',
#        '2.Ncup', '1.HC', 'CC', '1.WWT', '1.Ncup', '1.2U', '2.2U', 'JR',
#        '2.WWT', 'JC', 'CM', 'JOJ', 'CDM', nan, 'JO', 'CPE', 'MNM', 'AU1',
#        '2.CH', '1.CH', 'GT2', 'GT1'], dtype=object)
all_data['Category'] = all_data['Category'].replace('MP', 'ME')
all_data['Category'].unique()

array(['WE', 'ME', nan, 'MU', 'MJ', 'WJ', 'WU'], dtype=object)

In [190]:
# Championship races lack categories because they're usually combined all cats.
len(all_data.loc[all_data['Category'].isna()])

317

In [191]:
# The championships, Olympics, Criteriums (some) lack a category and can be eliminated assuming they're equal ME/WE
noc_data = all_data.loc[all_data['Category'].notnull()]
noc_data.loc[noc_data['Class'].isna()]
# There are still two races without Class, we can drop

       Date From     Date To        Name  Country Category Class Season
2128  21/11/2018  25/11/2018  Africa Cup  ERITREA       WE   NaN   2019
2129  21/11/2018  25/11/2018  Africa Cup  ERITREA       ME   NaN   2019

In [192]:
noc_data = noc_data.loc[noc_data['Class'].notnull()]
noc_data.shape

(9119, 7)

In [193]:
# I suspect there are some classes have changed over the years. MP is ME, CPE was WT stage races during dispute
# with ASO (2.UWT), MNM = Monument and CPE were WT one-days during disputed years (1.UWT) 
# Reassign them to current codes. This may not be necessary in the future.
class_dict = {'CPE':'2.UWT',
              'MNM':'1.UWT',
              'AU1':'1.UWT',
              '2.CH':'2.UWT',
              '1.CH':'1.UWT',
              'GT2':'2.UWT',
              'GT1':'2.UWT',
              '2.2':'2.2','CRT':'CRT','2.HC':'2.HC','2.1':'2.1','1.2':'1.2','1.1':'1.1',
              'CN':'CN','2.UWT':'2.UWT','1.UWT':'1.UWT','2.Ncup':'2.Ncup','1.HC':'1.HC','CC':'CC',
              '1.WWT':'1.WWT','1.Ncup':'1.Ncup','1.2U':'1.2U','2.2U':'2.2U','JR':'JR','2.WWT':'2.WWT',
              'JC':'JC','CM':'CM','JOJ':'JOJ','CDM':'CDM','JO':'JO'}

noc_data['Class'] = noc_data['Class'].map(class_dict.get)

In [194]:
noc_data['Class'].unique()

array(['2.2', 'CRT', '2.HC', '2.1', '1.2', '1.1', '2.UWT', '1.UWT',
       '2.Ncup', '1.HC', '1.WWT', '1.Ncup', '1.2U', '2.2U', '2.WWT', 'CN',
       'CC', 'JR', 'CDM', 'JOJ', 'CM', 'JO'], dtype=object)

In [195]:
noc_data.loc[noc_data['Country'].isna()]

,Date From,Date To,Name,Country,Category,Class,Season
6125,27/04/2006,27/04/2006,Trofej Sajamskih Gradova,NaN,MJ,1.1,2006
6165,12/05/2006,12/05/2006,Trofej Sajamskih Gradova,NaN,MJ,1.1,2006

In [196]:
drop_class = ['JO','JOJ','CC','JR','CDM','CN','CRT']

keep_class = ['2.2',  '2.HC', '2.1', '1.2', '1.1', '2.UWT', '1.UWT', 
              '2.Ncup', '1.HC', '1.WWT', '1.Ncup', '1.2U', '2.2U', '2.WWT']

non_champs = noc_data.loc[noc_data['Class'].isin(keep_class)]
champs = all_data.loc[all_data['Class'].isin(drop_class)]
non_champs.shape

(7050, 7)

In [197]:
champs['Class'].unique()
# These are the races we won't consider further for now.

array(['CRT', 'CN', 'CC', 'JR', 'JOJ', 'CDM', 'JO'], dtype=object)

In [198]:
#Need to rename the columns so they make sense and format the dates as dates
non_champs = non_champs.rename(columns={'Date From':'Start_date', 'Date To':'End_Date'})
non_champs['Start_date'] = pd.to_datetime(non_champs['Start_date'], dayfirst=True)
non_champs['End_Date'] = pd.to_datetime(non_champs['End_Date'], dayfirst=True)
non_champs.head()

,Start_date,End_Date,Name,Country,Category,Class,Season
0,2017-10-24,2017-10-29,Vuelta a Colombia Femenina Oro y Paz,COLOMBIA,WE,2.2,2018
1,2017-10-23,2017-11-01,Vuelta a Guatemala,GUATEMALA,ME,2.2,2018
5,2017-10-27,2017-11-05,Tour du Faso,BURKINA FASO,ME,2.2,2018
6,2017-10-27,2017-11-05,Vuelta Ciclista a Venezuela,BOLIVARIAN REPUBLIC OF VENEZUELA,ME,2.2,2018
7,2017-10-28,2017-11-05,Tour of Hainan,PEOPLE'S REPUBLIC OF CHINA,ME,2.HC,2018

In [199]:
#Adding in a column for the length of the race in days
non_champs['Race_Days'] = ((non_champs['End_Date'] + pd.DateOffset(days=1)) - non_champs['Start_date'])
non_champs.head()

,Start_date,End_Date,Name,Country,Category,Class,Season,Race_Days
0,2017-10-24,2017-10-29,Vuelta a Colombia Femenina Oro y Paz,COLOMBIA,WE,2.2,2018,6 days
1,2017-10-23,2017-11-01,Vuelta a Guatemala,GUATEMALA,ME,2.2,2018,10 days
5,2017-10-27,2017-11-05,Tour du Faso,BURKINA FASO,ME,2.2,2018,10 days
6,2017-10-27,2017-11-05,Vuelta Ciclista a Venezuela,BOLIVARIAN REPUBLIC OF VENEZUELA,ME,2.2,2018,10 days
7,2017-10-28,2017-11-05,Tour of Hainan,PEOPLE'S REPUBLIC OF CHINA,ME,2.HC,2018,9 days

In [200]:
# ENECO TOUR is 'stateless' because it crosses boundaries. We can add it to belgium.
non_champs['Country'].replace({'STATELESS':'BELGIUM'}, inplace=True)
non_champs['Country'].unique()

array(['COLOMBIA', 'GUATEMALA', 'BURKINA FASO',
       'BOLIVARIAN REPUBLIC OF VENEZUELA', "PEOPLE'S REPUBLIC OF CHINA",
       'JAPAN', 'RWANDA', 'SOUTH AFRICA', 'INDONESIA', 'COSTA RICA',
       'AUSTRALIA', 'GABON', 'NEW ZEALAND', 'SPAIN',
       'UNITED ARAB EMIRATES', 'ARGENTINA', 'FRANCE', 'ALGERIA',
       'CAMEROON', 'TURKEY', 'ITALY', 'OMAN', 'PORTUGAL', 'CROATIA',
       'BELGIUM', 'SLOVENIA', 'GREECE', 'NETHERLANDS', 'CHINESE TAIPEI',
       'TUNISIA', 'MALAYSIA', 'SLOVAKIA', 'URUGUAY', 'LUXEMBOURG',
       'THAILAND', 'GERMANY', 'MOROCCO', 'UNITED STATES OF AMERICA',
       'CZECH REPUBLIC', 'POLAND', 'GREAT BRITAIN', 'DENMARK', 'SENEGAL',
       'SWITZERLAND', 'BOSNIA AND HERZEGOVINA', 'NORWAY',
       'RUSSIAN FEDERATION', 'SRI LANKA', 'BULGARIA', 'SWEDEN', 'HUNGARY',
       'ALBANIA', 'PHILIPPINES', 'ESTONIA', 'IRELAND', 'UKRAINE', 'KOREA',
       'ROMANIA', 'CANADA', 'SERBIA', 'AUSTRIA', 'BELARUS',
       "COTE D'IVOIRE", 'KAZAKHSTAN', 'ISLAMIC REPUBLIC OF IRAN',
       'HONG KONG, CHINA', 'TRINIDAD AND TOBAGO', 'BOLIVIA', 'QATAR',
       'INDIA', 'BRAZIL', 'DOMINICAN REPUBLIC', 'EL SALVADOR', 'MEXICO',
       'AZERBAIJAN', 'EGYPT', 'ISRAEL', 'CHILE', 'CYPRUS', 'KOSOVO',
       'ECUADOR', 'PAKISTAN', 'LATVIA', 'ERITREA', 'SYRIAN ARAB REPUBLIC',
       'BRUNEI DARUSSALAM', 'CUBA', 'BELIZE', 'LIBYA', 'MONTENEGRO',
       'VIETNAM', 'MALI', 'PUERTO RICO',
       'FORMER YUGOSLAV REPUBLIC OF MACEDONIA', nan, 'SAN MARINO',
       'PARAGUAY', 'FINLAND', 'LITHUANIA', 'ETHIOPIA'], dtype=object)

In [201]:
#add in the coordinates for each race so we can geolocate them on a map later

uci_country_coord = pd.DataFrame()
uci_country_coord = pd.read_excel('./data/uci_country_coord.xlsx', encoding='UTF-8')
uci_df = pd.merge(non_champs, uci_country_coord, right_on='uci_name', left_on='Country', how="left")
#Find which ones don't have coordinates...
df_nulls = uci_df[uci_df.isnull().any(axis=1)]
# loc_nulls = df_nulls.groupby('Country')
# loc_nulls['Country'].value_counts()
df_nulls

,Start_date,End_Date,Name,Country,Category,Class,Season,Race_Days,uci_name,continent,name,country,latitude,longitude
4690,2006-04-27,2006-04-27,Trofej Sajamskih Gradova,NaN,MJ,1.1,2006,1 days,NaN,NaN,NaN,NaN,NaN,NaN
4729,2006-05-12,2006-05-12,Trofej Sajamskih Gradova,NaN,MJ,1.1,2006,1 days,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
uci_df.shape

(7050, 14)

In [203]:
#You can extract the year from the start date, but UCI 'seasons' differ from calendar years
# for Africa, Asia and Oceania circuits, so when outputting new calendars, add the year as _2XXX before .xlsx
# If you want you can just export the combined data

# all_data['Year'] = pd.DatetimeIndex(all_data['Date From']).year

# writer = pd.ExcelWriter('combined.xlsx')
# all_data.to_excel(writer,'Sheet1')

# writer.save()

In [204]:
#We need to make the dictionary of lists one big dictionary to add the Continents column

cont_dict_converted = {k: oldk for oldk, oldv in continents.items() for k in oldv}

#Note there are some events that cross borders or Continental championships that have no Continent.
#Add some code here to handle these cases.

uci_df['Continent'] = uci_df['Country'].map(cont_dict_converted).fillna('Stateless')

In [205]:
# Get rid of the one Junior race that was in Serbia but lacked a country
uci_df = uci_df.loc[uci_df['Continent']!='Stateless']

In [206]:
# #Let's focus for now on the elite men and women's caregories in non-championship races

# cats = ['ME', 'WE']
# non_championships_df.Category.isin(cats)
# elite_non_championships = non_championships_df[non_championships_df.Category.isin(cats)]
# # group_cont = elite_non_championships.groupby("Continent")
# # group_cont.count().head()

# elite_non_championships.head()

In [207]:
#Convert the race days column to integer
uci_df['Race_Days'] = uci_df['Race_Days']/np.timedelta64(1, 'D')
uci_df.head()
len(uci_df)

7048

In [208]:
uci_df.to_csv('./data/cleaned_uci_data_06_19.csv', header=True, encoding='UTF-8')